/*INIZIO-GENERALI*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-big{
    max-width: 1000px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap:wrap;
}

ul, ol, menu{
    list-style:none ;
}


.hero-col a{
    text-decoration: none;
    background-color: #0161ff;
    color: white;
    padding: 5px 10px;
}

img{
    width: 100%;
}

h1{
    font-size:60px;    
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px;    
}

h2{
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h4{
    font-family: 'Open Sans', sans-serif;
}

/*inzio-header*/

.justify-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}


header a{
    text-decoration: none;
    background-color: #0161ff;
    color: white;
    line-height: 10px;
    padding: 4px 8px;
}

 

header li{
    display: inline-block;
    padding: 0px 4px;
}
.logo-header{
    vertical-align: middle;
}

/*fine-header*/


/*FINE-GENERALI*/

/*inizio-col*/

.col-3{
    flex-basis: calc((100% / 12) * 3);
}
.col-4{
    flex-basis: calc((100% / 12) * 4);
}
.col-6{
    flex-basis: calc((100% / 12) * 6);
}
.col-8{
    flex-basis: calc((100% / 12) * 8);
    padding: 10px;
}
.col-9{
    flex-basis: calc((100% / 12) * 9);
}
.col-12{
    flex-basis: calc((100% / 12) * 12);
    margin-top: 20px;
    
}

/*fine-col*/

/*inzio-main*/

/*inzio-hero*/

.hero{
    background-color: #b4d0e7;
   
}

.first-section{
    margin-bottom: 50px;
}


.hero-col >p{
    line-height: 20px;
    margin-bottom: 30px;
}

.cancel{
   margin-top: 20px;    
}

.arrow > i{
    margin-top: 80px;
    font-size: 40px;
}
/*fine-hero*/

/*inizio-task*/
 input{
    margin-right: 5px;
    
}
.radio span{
    margin-right: 20px;
    padding-bottom: 20px;
}

.thirth{
    margin-right: 0 ;

}

.head-task{
    border: 1px solid black;
    min-height: 20px;
    text-align: center;
    width: 100%;
    padding: 10px;    
}

.task{
    min-height: 200px;
    
}

/*inizio-main-task*/
.main-task{
    padding: 10px;
}

.main-task li{
    padding: 10px 0px;
}

.main-task p {
    margin-top: 10px;
}

#link{
    text-decoration: none;
    background-color: #0161ff;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0 ;
}

.second-list{
    margin-top: 30px;
    border-top: 1px solid black;
}

.col-8 li{
    padding: 10px 0px;
}

#link-second{
    text-decoration: none;
    color: white;
    background-color: #0161ff;    
    padding: 5px 18px;
    font-size: 15px;

}

.team-12{
    padding: 30px;
}

.partner-p{
    padding: 10px;
}

.partner-p p {
    color: grey;
    padding-bottom:20px ;
}

.partner-p a{
    text-decoration: none;
    color: grey;
    border: 1px solid grey;
    padding: 5px 10px;
    font-size: 15px;
}


.second-section{
    margin-bottom: 50px;
}


.thirth-section h2{
    font-size: 33px
}

.thirth-section h3{
    padding-bottom: 15px
}

.pd-thirth{
    padding: 10px;
}


.thirth-section{
    margin-bottom: 50px;
}


.four-section h2{
    font-size: 40px;
}

.four-section{
    margin-bottom: 50px;
}
/*fine-task*/

/*quarta-section*/

.col-6{
    position: relative;
    padding: 10px;
}

.green{
    background-color: #a2d39b;
    border: 10px solid #d1e9cc;
}

.dark-red{
    background-color: #61082b;
}

.blue{
    background-color: #0793ce;
}

.red{
    background-color: #ff1c1d;
}
.red-2-0{
    background-color: #d5001e;
}

.light-blue{
    background-color: #b4d0e7;
}

.dark-blue{
    background-color: #0e2481;
}

.yellow{
    background-color: #ffd830;
}

.col-6 > img{    
    opacity: 2;
    filter: invert(1);
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.center{
    padding: 20px;
}


.center p{
    padding-top: 20px;
}

#design{
    width: 50%;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}
.six-section{
    background-color: #b4d0e7;
    margin-bottom: 80px;
}



.business-six-section {
    color: #610937;
    font-size: 20px;
    
}

.business-affiliate-a a{
    text-decoration: none;
    background-color: white;
    padding: 8px 10px;
    
} 
.business-affiliate-a{
    align-self: center;
    position: relative;
    left: 40px;
    bottom: 18px;
}
.up{
    border-top: 1px solid black;
}

.question-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.question-one{
    border-top: 1px solid black;
    padding-top:20px;
}

.question{
    
    border-bottom: 1px solid black;
    padding: 20px;
}
 



.seven-section{
    margin-bottom: 80px
}

/*fine-main*/

/*inizio-footer*/

aside{
    padding: 30px;
}

.list{
    flex-basis: calc((100%  -176px) / 5 );
    margin-right: 44px;
}

.final-list{
    margin-right: 0;
}

footer{
    background-color: black;
    color: white;
}

footer li{
    padding: 5px 10px;
}

.first{
    padding-bottom: 20px;
}


.border{
    border: 1px solid gray;
    height: 100%;
}

.padding-col{
    padding: 10px;
}



#title-col-8{
    font-size: 30px;
    padding-bottom: 20px;
}

.angle{
    padding-right:20px ;
}