/*INIZIO-GENERALI*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-big{
    max-width: 1000px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap:wrap;
}

ul, ol, menu{
    list-style:none ;
}



.hero-col a{
    text-decoration: none;
    background-color: #0161ff;
    color: white;
    padding: 5px 10px;
}

img{
    width: 100%;
}

h2{
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h4{
    font-family: 'Open Sans', sans-serif;

}

/*inzio-header*/

.justify-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}


header a{
    text-decoration: none;
    background-color: #0161ff;
    color: white;
    line-height: 10px;
    padding: 4px 8px;
}

 
h1{
    font-size:60px;    
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px;    
}
header li{
    display: inline-block;
    padding: 0px 4px;
}

/*fine-header*/


/*FINE-GENERALI*/

/*inizio-col*/

.col-3{
    flex-basis: calc((100% / 12) * 3);
}
.col-4{
    flex-basis: calc((100% / 12) * 4);
}
.col-6{
    flex-basis: calc((100% / 12) * 6);
}
.col-8{
    flex-basis: calc((100% / 12) * 8);
    padding: 10px;
}
.col-9{
    flex-basis: calc((100% / 12) * 9);
}
.col-12{
    flex-basis: calc((100% / 12) * 12);
    
}

/*fine-col*/

/*inzio-main*/

/*inzio-hero*/

.hero{
    background-color: #b4d0e7;
   
}

.first-section{
    margin-bottom: 50px;
}


.hero-col >p{
    line-height: 20px;
    margin-bottom: 30px;
}

.cancel{
   margin-top: 20px;    
}

.arrow > i{
    margin-top: 80px;
    font-size: 40px;
}
/*fine-hero*/

.radio{
    margin-right: 10px;
    margin-bottom:20px ;
    
}

/*inizio-task*/


.thirth{
    margin-right: 0 ;

}

.head-task{
    border: 1px solid black;
    min-height: 20px;
    text-align: center;
    width: 100%;
    padding: 10px;    
}

.task{
    
    border: 1px solid black;
}

/*inizio-main-task*/
.main-task{
    padding: 10px;
}

.main-task li{
    padding: 10px 0px;
}

.main-task p {
    margin-top: 10px;
}

#link{
    text-decoration: none;
    background-color: #0161ff;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0 ;
}

.second-list{
    margin-top: 30px;
    border-top: 1px solid black;
}

.col-8 li{
    padding: 10px 0px;
}

#link-second{
    text-decoration: none;
    color: white;
    background-color: #0161ff;    
    padding: 5px 18px;
    font-size: 15px;

}

.team-12{
    padding: 30px;
}

.partner-p{
    padding: 10px;
}

.partner-p p {
    color: grey;
    padding-bottom:20px ;
}

.partner-p a{
    text-decoration: none;
    color: grey;
    border: 1px solid grey;
    padding: 5px 10px;
    font-size: 15px;
}


.second-section{
    margin-bottom: 50px;
}


.thirth-section h2{
    font-size: 33px
}

.thirth-section h3{
    padding-bottom: 15px
}

.pd-thirth{
    padding: 10px;
}


.thirth-section{
    margin-bottom: 50px;
}

/*fine-task*/


/*fine-main*/